<launch>
  <arg name="gzpose" default="-x 0 -y 0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0"/>

  <!-- PID gains -->
  <rosparam file="$(find custom_rrbot_controller_configuration_gazebo)/config/pids.yaml" command="load"/>

  <!-- Joint controllers -->
  <rosparam file="$(find custom_rrbot_controller_configuration_gazebo)/config/custom_effort_controllers.yaml" command="load"/>

  <!-- Robot model -->
  <include file="$(find custom_rrbot_description)/robots/upload_custom_rrbot.launch">
  </include>
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -param robot_description $(arg gzpose) -model custom_rrbot -J joint1 0.1745329" />
        
</launch>
